.git
.gitignore
docs
LICENSE
sample.env

*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg
*.egg-info
*.sql.gz

.cache
.project
.idea
.pydevproject
.DS_Store
.Python
.git/
.bin/
.installed.cfg
.venv
.env.sample

Dockerfile*
docker-compose*
node_modules
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
logs/
pyvenv.cfg
pip-selfcheck.json
get-pip.py
db.sqlite3

[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts

docker/*-values.yml
