{% load render_bundle from webpack_loader %}

<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script>
            var netid = '{{ netid }}';
            var logoutUrl = "{{ logout_url }}"
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>

    </head>
    <body data-ga-property-id="{{ ga_property_id }}">
        <div id="app"></div>

        {% render_bundle 'base' %}
        {% if signup %}
            {% render_bundle 'signup' %}
        {% endif %}
        {% if send %}
            {% render_bundle 'host' %}
        {% endif %}
        {% if audit %}
            {% render_bundle 'audit' %}
        {% endif %}
        {% render_bundle 'main' %}
    </body>
</html>
