{% load render_bundle from webpack_loader %}

<!DOCTYPE HTML>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <div id="app">
            {% block vue %}

            {% endblock %}
        </div>

        {% render_bundle 'main' %}

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
