{% extends "base.html" %}
{% block header %}
<div class="container pt-3">
    <h1 class="h4">Create Food Notification</h1>
</div>
<hr>
{% endblock %}


{% block vue %}
<b-nav v-if="navVisible" @click="console.log('test')" class="foodalert-sticky foodalert-navbar w-100 d-sm-none shadow-sm border-bottom py-2" fill>
    <b-nav-item href="#event" class="foodalert-navbar-active"> Event </b-nav-item>
    <b-nav-item href="#food"> Food </b-nav-item>
    <b-nav-item href="#time"> Time </b-nav-item>
    <b-nav-item href="#location"> Location </b-nav-item>
</b-nav>

<form-category section-name="Event" icon-name="calendar">
    <script>
        window.onscroll = function () {
            app.__vue__._data.navVisible = window.scrollY>document.getElementById('event').offsetTop - 3;
        };
    </script>
    <labelled-input
        label-text="What was the occasion?"
        example-text="e.g FIUTS weekly club meeting">
    </labelled-input>
    <!--<hr>-->
</form-category>
<hr>
<form-category section-name="Food" icon-name="utensils">
    <labelled-input
        label-text="What type of food?"
        sub-label="Describe the food, cuisine, whther it's hot or cold, etc."
        example-text="e.g Hot Indian buffet food">
    </labelled-input>
    <labelled-input
        label-text="How much is left?"
        example-text="e.g. 2 large trays. About 8 full meals"
        rows="2">
    </labelled-input>
    <labelled-input
        label-text="Do students need containers?"
        sub-label="If so, add a message here."
        example-text="e.g. Bring tupperware"
        is-optional>
    </labelled-input>
    <script>
        var allergens = ["milk", "eggs", "soy", "fish", "shellfish", "Peanuts", "wheat"];
    </script>
    <labelled-input
        input-type="checkbox"
        label-text="Do you know your food contains any of these allergens?"
        :boxes="allergens"
        is-optional>
    </labelled-input>
    <!--<hr>-->
</form-category>
<hr>
<form-category section-name="Time" icon-name="clock">
    <p>Food will be available starting when you send the notification.</p>
    <labelled-input
        label-text="When will the food stop being available?"
        example-text="e.g 3:30 PM"
        warning-text="Keep in mind that food can't legally sit out unrefrigerated for more than 2 hours from the time the event starts">
    </labelled-input>
    <!--<hr>-->
</form-category>
<hr>
<form-category section-name="Location" icon-name="map-marker-alt">
    <labelled-input
        label-text="Where will the food be located?"
        sub-label="Building name and room / room number."
        example-text="e.g HUB 130">
    </labelled-input>
    <labelled-input
        label-text="Any other details to help people find you?"
        example-text="e.g Use stairs near front desk"
        is-optional
        rows="2">
    </labelled-input>
    <!--<hr>-->
</form-category>
<hr>
<form-category section-name="Terms and Conditions" icon-name="clipboard-check">
    <p>A brief statement about the liability that the host is taking on while posting this food, and an agreement that they have a food ditstribution permit or the food is on the "Safe to Share" list</p>
    <labelled-input
        input-type="checkbox"
        :boxes="['I agree to the terms and conditions']">
    </labelled-input>
    <hr>
</form-category>
<b-container class="mb-4 d-flex justify-content-end">
    <b-btn variant="primary" size="lg" class="float-right">Preview Notification</b-btn>
</b-container>



<agreement-popup></agreement-popup>
{% endblock %}
