{% extends "base.html" %}

{% block header %}
<div class="container pt-3 px-4">
    <h1 class="h4"> Preview Notification </h1>
</div>
<hr>
{% endblock %}

{% block vue %}
<b-container class="py-3 px-4">
    <p><b>UW students and community members </b> will recieve your notification.</p>

    <blockquote class="border rounded mb-3 p-3 text-left bg-light">
        <p> Hot Indian buffet food leftover from from FIUTs weekly meeting.
        	<br>2 large trays, probably 8 full meals.
        	<br>Available Today, 12:30-2:30PM. HUB 130. 
        	<br>Vegetarian options available.
        	<br>Bring tupperware.</p>
    </blockquote>

    <a><font-awesome-icon icon="chevron-left"></font-awesome-icon> Edit Notification</a>
</b-container>
{% endblock %}
