{% extends "base.html" %}
{% block header %}
<div class="container pt-3 bg-success">
    <h1 class="h5 text-white">You signed up for food notifications!</h1>
    <hr>
</div>
{% endblock %}
 {% block vue %}
<b-container>
    <p>
        Congratulations! You are signed up to be notified about leftover food after on-campus events.
    </p>
    <p>
        You will be emailed at<br>
        <strong> example@email.org </strong>
    </p>
    <b-link href="/signup" class='btn btn-info w-100 my-4 py-2'>
        <font-awesome-icon icon="chevron-left"></font-awesome-icon>
        <span class="ml-2">Edit Notification Settings</span>
    </b-link>

    <b-button variant="outline-secondary" class='w-100 py-2'>
        Unsubscribe
    </b-button>
</b-container>
{% endblock %}
