.foodalert-sticky {
    position: fixed;
    top: 0;
}

.foodalert-navbar {
    background-color: #FFFFFF;
    z-index: 100;
}

.foodalert-navbar-active {
    font-weight: bold;
    transform: scale(1.1);
}
